body{
    background-image: url(../Images/bg7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div{
    background-color:white;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    padding: 100px;
    text-align: center;
    /* border: 5px solid black; */
    border-radius: 10px;
    font-size: large;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
button{
    background-color: navy;
    color: aliceblue;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
}